#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	mkdir -p debian/helll-game/usr/bin
	mkdir -p debian/helll-game/usr/lib/helll-game
	cp gamecode.py debian/helll-game/usr/lib/helll-game/
	cp run_game.py debian/helll-game/usr/lib/helll-game/
	echo '#!/usr/bin/env python3' > debian/helll-game/usr/bin/helll
	echo 'import sys' >> debian/helll-game/usr/bin/helll
	echo 'sys.path.insert(0, "/usr/lib/helll-game")' >> debian/helll-game/usr/bin/helll
	echo 'import gamecode' >> debian/helll-game/usr/bin/helll
	chmod +x debian/helll-game/usr/bin/helll
